.category {
  /* width: 500px; */
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(56, 141, 56);
  font-size: 25px;
  font-weight: bold;
  border: 1px solid rgb(56, 141, 56);
  /* background: linear-gradient(rgb(56, 141, 56),rgba(56, 141, 56,.5),rgb(56, 141, 56)); */
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}
.category:hover {
  transform: scale(1.025);
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
